extends layout

block content
    include blocks/header

    main.main
        .container
            include blocks/about
            include blocks/welcomeBlocks

            include blocks/modes
            include blocks/multiplayer
            include blocks/quiz
            +quiz("hidden")
            include blocks/stats

    include blocks/footer