doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    title=title

    link(rel="manifest" href="manifest.json")

    // Viewport for mobile
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    // Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='images/favicon/favicon-16x16.png')

    // SOCIAL NETWORKS
    // Twitter
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="beFriend")
    meta(name="twitter:title" content="beFriend")
    meta(name="twitter:description" content="Наше приложение позволит Вам сблизиться со всеми вашими знакомыми и заводить настоящих друзей. Мы поможем Вам узнать знакомых намного лучше, а также обнаружить у них Ваши общие интересы. Все это сделает из Вас внимательного, привлекательного в общении человека.")
    meta(name="twitter:creator" content="OneWayUp")
    meta(name="twitter:image:src" content="http://befriend.owuteam.com/img/friends.jpeg")
    meta(name="twitter:domain" content="befriend.owuteam.com")

    // Common
    meta(name="title" content="beFriend")
    meta(name="description" content="Наше приложение позволит Вам сблизиться со всеми вашими знакомыми и заводить настоящих друзей. Мы поможем Вам узнать знакомых намного лучше, а также обнаружить у них Ваши общие интересы. Все это сделает из Вас внимательного, привлекательного в общении человека.")
    link(rel="image_src" href="http://befriend.owuteam.com/img/friends.jpeg")

    // Og
    meta(property="og:type" content="website")
    meta(property="og:title" content="beFriend")
    meta(property="og:description" content="Наше приложение позволит Вам сблизиться со всеми вашими знакомыми и заводить настоящих друзей. Мы поможем Вам узнать знакомых намного лучше, а также обнаружить у них Ваши общие интересы. Все это сделает из Вас внимательного, привлекательного в общении человека.")
    meta(property="og:url" content="http://befriend.owuteam.com")
    meta(property="og:image" content="http://befriend.owuteam.com/img/friends.jpeg")
    // Social

    // Template Basic Images Start
    link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
    // Template Basic Images End  

    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body

    include icons

    block content


    script(type="text/javascript").
      if (navigator.onLine) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'javascripts/require.js';
        script.setAttribute('data-main', 'javascripts/main');
        head.appendChild(script);
      } else {
        document.getElementsByClassName('authButton')[0].innerHTML = 'Offline';
        document.getElementsByClassName('fullscreen')[0].style.display = 'none';
        document.getElementsByClassName('sound')[0].style.display = 'none';
      }
    // VK API async
    div(id="vk_api_transport")
    script(type="text/javascript").
      if (navigator.onLine) {
        window.vkAsyncInit = function () {
          VK.init({
            apiId: 5610207
          });
        };

        setTimeout(function () {
          var el = document.createElement("script");
          el.type = "text/javascript";
          el.src = "https://vk.com/js/api/openapi.js?136";
          el.async = true;
          document.getElementById("vk_api_transport").appendChild(el);
        }, 0);
      }
    //  -/ VK API async
  
    // Yandex.Metrika counter
    script(type="text/javascript").
      if (navigator.onLine) (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39329570 = new Ya.Metrika({ id:39329570, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    
    noscript
      div
        img(src="https://mc.yandex.ru/watch/39329570" style="position:absolute; left:-9999px;" alt="")
    // -/ Yandex.Metrika 
