extends layout

block content

	include header/header

	main.main
		.container
			.userResult
				h3.userResult__header
				.userResult__main
	
	.notification.hidden
		| Спасибо за ваше сообщение об ошибке, мы постараемся исправить ситуацию как можно скорее!
