@import "../_data";

.footer {
    padding-bottom: 40px; 
    color: $white;  
} 

.footerWords {
    text-align: center;
    font-style: bold;
    margin-bottom: 5px;
}

.madeby {
    text-align: center;
    font-weight: bold;
    font-size: 5em;
}