@import "../_data";

.footer {
  padding-bottom: 40px;
  color: $white;

  @media only screen and (max-width: $screen_small) {
    padding-bottom: 30px;
  }

  a {
    color: white;
    text-decoration: none;
  }
} 

.footerWords {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.madeby {
  text-align: center;
  font-weight: bold;
  font-size: 5em;

  @media only screen and (max-width: $screen_small) {
    font-size: 3em;
  }
}