@import "../_data";

.mode {
  margin-bottom: 40px;
  padding: 20px;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media only screen and (max-width: $screen_small) {
    margin-bottom: 20px;
  }

  &__pic {
    margin-bottom: 20px;
    text-align: center;

    svg {
      width: 200px;
    }
  }

  &__header {
    text-align: center;
  }

  &__text {
    margin-bottom: 20px;
    text-align: justify;
  }

}

.startSingleGameButton {
  @extend .gameButton;
}

.createRoomButton {
  @extend .button;
  margin-bottom: 20px;
}

.joinRoomButton {
  @extend .button;
}

.joinGameSecret {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 5px 15px;
  border: 1px solid #009688;
  border-bottom: none;
  outline: none;
}

.onlinePlayers {
  border: 1px solid #009688;

  &__list {
    padding: 10px 20px;
    text-align: justify;
    max-height: 200px;
    overflow-y: scroll;
  }

  &__player {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      color: white;
      text-decoration: none;
      background-color: #00acc1;
      border-radius: 8px;
    }
  }

  &__img {
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 8px;
  }

  .searchUsersInput {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 5px 15px;
    border: 1px solid #009688;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
  }

}

.slick-dots {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 10px;

    button {
      width: 12px;
      height: 12px;
      font-size: 0;
      border: none;
      outline: none;
      border-radius: 50%;
      background-color: white;
    }

    &.slick-active {

      button {
        width: 24px;
        height: 24px;
      }
    }
  }
}
