@import "../_data";

.modes {
  @extend .block;

  &__rules {
    margin-bottom: 15px;
    text-align: justify;
  }
}

.errorSpan {
  padding: 10px 0;
  color: #f44336;
}

.startSingleGameButton {
  @extend .gameButton;
}

.createRoomButton {
  @extend .gameButton;
}

.joinRoomButton {
  @extend .gameButton;
}
