@import "../_data";

.roomOnline {
  border: 1px solid #ccc9c9;
}

.styledInput {
  margin-bottom: 10px;

  label {
    display: block;
    float: left;
    padding: 0px 15px;
    width: 40%;
    text-transform: uppercase;
    background-color: #f4f5f5;
    height: 30px;
    line-height: 30px;

    border: 1px solid #cbc9c9;
    border-right: none;
    text-align: center;
  }

  input {
    box-sizing: border-box;
    display: block;
    width: 60%;
    padding-left: 15px;
    outline: none;
    height: 30px;
    line-height: 30px;

    border: 1px solid #cbc9c9;
  }

  &.key label {
  }

  &.points label {
  }

  &.players label {
  }
}

.startRoomButton {
  @extend .button;

  margin-bottom: 20px;
}


.multiplayer {

  .quiz {
    .questionWrap__stats {
      @extend .hidden;
    }

    .question {

      &__text {
        padding: 10px 20px;
      }

      &__answers {
        padding: 20px;
      }

      &__image {
        padding: 20px 20px 0;

        & + .question__answers {
          padding-left: 240px;

          @media only screen and (max-width: $screen_medium) {
            padding-bottom: 0;
            padding-left: 20px;
          }
        }
      }


    }
  }

  .rate__table {
    th, td {
      padding: 10px 15px;
    }
  }

}

.roomInfo {
  @extend .blockNoPadding;

  padding: 20px;

  .error {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #F44336;
  }

  .waiting {
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ff4f19;
    color: #ff4f19;
    margin-bottom: 20px;
  }
}