@import "../_data";

.notification {
  position: fixed;
  bottom: 40px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  background-color: white;
  border: 1px solid #797979;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  @media only screen and (max-width: $screen_small) {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0px;
    box-shadow: none;
    font-size: 0.9em;
    border: none;
    border-top: 1px solid #797979;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__header {
    margin-bottom: 20px;
    font-size: 1.4em;
    line-height: 20px;
  }

  &__image {
    float: left;
    margin-right: 20px;

    img {
        width: 100px;
        height: 100px;
    }
  }

  &__content {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__activities {
    text-align: center;

      button {
        border: none;
        outline: none;
        margin-right: 20px;
        padding: 5px 15px;
        width: 140px;
        color: white;
        text-transform: uppercase;

        &:last-child {
            margin-right: 0px;
        }

        &.confirm {
            background-color: #4caf50;

            &:hover {
                background-color: #3f9042;
            }
        }

        &.reject {
            background-color: #f44336;

            &:hover {
                background-color: #b9372d;
            }
        }
      }
  }

}