@import "../_data";

.numberStat {
  text-align: center;
  border-right: 1px solid #cecece;

  &.nobrd {
    border-right: none;
  }

  &__label {
  }

  &__num {
    font-size: 4em;
    line-height: 1em;
    color: #f44336;
    margin-bottom: 10px;
  }

}

.lastGames {
  padding-top: 40px;
}