@import "../variables.scss";

header {
    padding: 30px 0px;

    .header__top {

        @media only screen and (max-width: $screen_medium) {
            margin-bottom: 10px;
        }
    }

    @media only screen and (max-width: $screen_large) {
        padding: 30px 0px 10px;
    }

    @media only screen and (max-width: $screen_medium) {
        padding: 20px 0;
    }

    @media only screen and (max-width: $screen_small) {
        padding: 20px 0 10px;
    }
} 

.logo {
    float: left;
    display: block;
    padding-top: 20px;
    padding-left: 40px;

    @media only screen and (max-width: $screen_medium) {
        padding-left: 20px;
        padding-top: 20px;
    }

    @media only screen and (max-width: $screen_small) {
        float: none;
        padding-left: 0px;
        text-align: center;
    }

    img {
        width: 300px;
        height: auto;
        vertical-align: bottom;

        @media only screen and (max-width: $screen_medium) {
            width: 200px;
            height: auto;
        }
    }
}

.social {
    float: right; 
    padding-right: 80px;

    @media only screen and (max-width: $screen_medium) {
        padding-right: 40px;
    }

    @media only screen and (max-width: $screen_small) {
        float: none;
        padding-right: 0px;
        text-align: center;
    }

    &__network {
        display: inline-block;
        padding: 30px 0;
        margin-left: 40px;

        @media only screen and (max-width: $screen_medium) {
            margin-left: 20px;
            padding: 20px 0;
        }

        a {
            display: inline-block;
        }

        svg {
            width: 60px;
            height: 60px;
            fill: $white;
            vertical-align: bottom;

            @media only screen and (max-width: $screen_medium) {
                height: 40px;
                width: 40px;
            }
        }
    }
}