.about.animated
    .row
        .col-md-5
            .imageWrap
                img.image(src='images/friends.jpeg', alt='Friends')
            button.authButton
                svg.vk(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    use(xlink:href='#vk')
                | Вход
        .col-md-7
            h3.about__header
                | Будьте в курсе того, что происходит в жизни Ваших друзей!
            .about__content
                p
                    | Сколько у Вас друзей? Такой простой вопрос, но в наше время на него бывает очень сложно ответить. Можно ли считать человека, который находится у Вас в списке друзей в "Вконтакте", но с которым вы практически не общаетесь, настоящим другом?
                p
                    | Наше приложение позволит Вам сблизиться со всеми вашими знакомыми и заводить настоящих друзей. Мы поможем Вам узнать знакомых намного лучше, а также обнаружить у них Ваши общие интересы. Все это сделает из Вас внимательного, привлекательного в общении человека.
                p
                    | Не забывайте своих старых друзей! Наше приложение позволит Вам узнать, где сейчас живет Ваш старый друг, где он учится, состоит ли с кем-то в отношениях, а также многое другое.
                p Ну так чего же Вы ждете? Вперед - за новыми рекордами:)