header.header
	.container
		.header__top.clearfix
			a.logo(href='/')
				img.logo__image(src='images/logo.png', alt='vkQuiz Logo')
			.controls.clearfix
				.controls__item.fullscreen.open
					a(href='#', target='_blank')
						svg
							use(xlink:href='#fullscreenEnter')
				.controls__item.sound
					a(href='#', target='_blank')
						svg
							use(xlink:href='#soundOn')
				.controls__item.share
					a(href='http://vk.com/share.php?url=http%3A%2F%2Fbefriend.owuteam.com&title=BeFriend&description=Наше%20приложение%20позволит%20Вам%20сблизиться%20со%20всеми%20вашими%20знакомыми%20и%20заводить%20настоящих%20друзей.&image=http%3A%2F%2Fbefriend.owuteam.com%2Fimg%2Ffriends.jpeg', target='_blank')
						svg
							use(xlink:href='#share')
