.modes.animated.hidden
    .row
        .col-md-4
            .mode.singleMode
                .mode__pic
                    svg.pointsSVG(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        use(xlink:href='#single')
                .mode__rules
                    h3.mode__header.
                        Одиночная игра
                    .mode__text
                        | В этом режиме игры необходимо ответить на как можно большее количество вопросов за отведенное время. У Вас есть 90 секунд, за каждый неправильный ответ отнимается 5 баллов и секунда времени, если Вы отвечаете правильно с первого раза - ко времени добавляется 2 секунды. Удачи!
                    button.startSingleGameButton Начать
        .col-md-4
            .mode.multiplayerMode
                .mode__pic
                    svg.pointsSVG(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        use(xlink:href='#medal')
                .mode__rules
                    h3.mode__header.
                        Мультиплеер
                    .mode__text
                        | Создайте сетевую игру и раздайте секретный ключ другим игрокам, чтобы играть вместе. Или присоединитесь к уже созданной игре, указав секретный ключ.
                    button.createRoomButton Создать
                    form
                        input.joinGameSecret(type="text" placeholder="Секретный ключ" required)
                        button.joinRoomButton(type="submit") Присоединиться
                    .error.hidden
                        | Извините, но такой комнаты не существует, проверьте секретный код еще раз
        .col-md-4
            .mode.chooseOpponentMode
                .mode__pic
                    svg.pointsSVG(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        use(xlink:href='#boxing')
                .mode__rules
                    h3.mode__header.
                        Вызовите на дуэль!
                    .mode__text
                        | Эти игроки сейчас онлайн! Вызовите одного из них на дуэль!
                    .onlinePlayers
                        input.searchUsersInput(type="text" placeholder="Поиск игрока")
                        .onlinePlayers__list
                            a.onlinePlayers__player(href="#")
                                img.onlinePlayers__img(src="#" width="32" height="32" alt="User Online")
                                | Герман Волков