.multiplayer.animated.hidden
    .row
        .col-md-4
            .roomInfo
                h3 Комната
                form(action="/")
                    .styledInput.key.clearfix
                        label(for="secretKey") Ключ
                        input(id="secretKey" type="text" placeholder="Секретный ключ" disabled required)
                    .styledInput.points.forCreator.clearfix
                        label(for="winPoints") Финиш
                        input(id="winPoints" type="number" min="0" max="1000000" placeholder="1000" required)
                    button.startRoomButton.forCreator(type="submit") Старт
                .error Ошибка
                .waiting.forUser.hidden Ожидание старта...
                .members
                    table.rate__table.roomOnline
                        thead
                            tr.tableHead
                                th №
                                th Имя
                                th Баллы
        .col-md-8
            include quiz
            +quiz(false)