.notification.hidden
    a.notification__close(href="#")
        svg.vk(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            use(xlink:href='#close')
    .notification__header Уведомление
    .notification__content.clearfix
        .notification__image
            img(src='#' width=100 height=100)
        .notification__text Герман Волков хочет узнать
    .notification__activities
        button.confirm Принять
        button.reject Отказать