mixin quiz(singleGame)
    .quiz.animated(class=singleGame ? "quizForSingleGame hidden" : "quizForMultiplayerGame hidden")
        .questionWrap
            .question
                .question__text
                    | Вы готовы? Тогда к делу!
                .question__properties.clearfix
                    .question__image
                        img.question__img(src='#', width='200', height='200', alt='Quiz Question Image')
                    .question__answers.clearfix
                        a.question__answer Волков Герман
                        a.question__answer Павец Никита
                        a.question__answer.right Лосев Игорь
                        a.question__answer.wrong Еще кто-то 4-ый
            .questionWrap__results.gameResult.hidden
                - if (singleGame)
                    p
                        | Время вышло!
                        br
                        | Неплохой результат... но ты можешь лучше!
                    .gameResult__points
                        svg.cupSVG(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            use(xlink:href='#cup')
                        span#gameResultPoints
                            | 99
                - else
                    p
                        | Ваш результат
                    .gameResult__place
                        svg.cupSVG(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            use(xlink:href='#cup')
                        span#gameResultPlace
                            | 99
                .socialShare
                    p
                        | Покажи всем, какой ты друг!
                        br
                        | Можешь выбрать одну из социальных сетей ниже!
                    .gameResult__socialButtons.clearfix
                        .social__network.vk
                            a(href='http://vk.com/share.php?url=http%3A%2F%2Fbefriend.owuteam.com&title=BeFriend&description=Наше%20приложение%20позволит%20Вам%20сблизиться%20со%20всеми%20вашими%20знакомыми%20и%20заводить%20настоящих%20друзей.&image=http%3A%2F%2Fbefriend.owuteam.com%2Fimg%2Ffriends.jpeg', target='_blank')
                                svg.contact.vk(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                    use(xlink:href='#vk')
                        .social__network.tw
                            a(href='http://twitter.com/share?url=http%3A%2F%2Fbefriend.owuteam.com&text=Наше%20приложение%20позволит%20Вам%20сблизиться%20со%20всеми%20вашими%20знакомыми%20и%20заводить%20настоящих%20друзей.', target='_blank')
                                svg.contact.tw(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                    use(xlink:href='#tw')
            - if (singleGame)
                .questionWrap__stats
                    .row
                        .col-sm-6
                            .questionWrap__stat
                                .time
                                    svg.timeSVG(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                        use(xlink:href='#alarm')
                                    span#onlineSeconds 90
                                    |  seconds left...
                        .col-sm-6
                            .questionWrap__stat
                                .points
                                    svg.pointsSVG(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                        use(xlink:href='#correct')
                                    span#onlinePoints 0
                                    |  points
