$blue: #597DA3;
$white: #FFFFFF;
$black: black;
$error: #f44336;
$grey: #ccc9c9;
$darkGrey: #565555;
$waterGreen: #009688;

$screen_small: 576px;
$screen_medium: 767px;
$screen_large: 992px;

$gold: rgba(217, 164, 65, 0.3);
$silver: rgba(204, 194, 194, 0.3);
$bronze: rgba(150, 90, 56, 0.3);

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.block {
  display: block;
  margin-bottom: 40px;
  padding: 20px;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.blockNoPadding {
  display: block;
  margin-bottom: 40px;
  padding: 0px;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.headers {
  font-size: 1.4em;
  font-weight: 400;
  margin-top: 0;
  padding: 0;
  margin-bottom: 15px;
}

.gameButton {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 2em;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: #009688;
  color: #FFFFFF;

  &:hover {
    background-color: #037369;
  }
}

.button {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  outline: 0;
  text-transform: uppercase;
  padding: 8px 0;
  font-size: 1em;
  background-color: #009688;
  color: #FFF;

  &:hover {
    background-color: #046f65;
  }
}

h4 {
  @extend .headers;
  font-size: 1.2em;
  margin-bottom: 10px;
}

// CSS Loader
.spinner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.spinner > div {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}