@import "_data.scss";

@import "libs/_bootstrap";
@import "libs/_animate";
@import "libs/_slick";

// blocks
@import "blocks/_about";
@import "blocks/_benefits";
@import "blocks/_beta";
@import "blocks/_footer";
@import "blocks/_header";
@import "blocks/_menu";
@import "blocks/_modes";
@import "blocks/_notification";
@import "blocks/_question";
@import "blocks/_quiz";
@import "blocks/_rate";
@import "blocks/_userResult";
@import "blocks/_chart";
@import "blocks/_elements";
@import "blocks/_descr";
@import "blocks/_multiplayer";

body {
  margin: 0 auto;
  min-width: 320px;
  overflow-x: hidden;
  background: $white url("../images/mp-02.png") 0 0;
  font-family: "roboto";
}

