$blue: #597DA3;
$white: #FFFFFF;
$black: black;
$error: #f44336;
$grey: #ccc9c9;
$darkGrey: #565555;
$waterGreen: #009688;

$screen_small: 576px;
$screen_medium: 767px;
$screen_large: 992px;

$gold: rgba(217, 164, 65, 0.3);
$silver: rgba(204, 194, 194, 0.3);
$bronze: rgba(150, 90, 56, 0.3);